$border: rgba(0, 0, 0, 0.125);

.graph {
  border: 1px solid $border;
  width: fit-content;
  padding: 8px;
  margin: 8px;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 4px;

  & > *:last-child {
    border-left: 1px solid $border;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      border-bottom: 1px solid $border;
      margin-bottom: 8px;
    }
  }
}

.options-v {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 4px;
  display: flex;

  svg {
    cursor: pointer;
  }

  ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    line-height: 20px;

    .option-item {
      display: none;

      &.active {
        display: inline-block;
        width: fit-content;
        font-weight: bold;
      }
    }
  }

  .right {
    cursor: pointer;
  }
}

.options-h {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    cursor: pointer;
  }

  ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    line-height: 20px;

    .option-item {
      display: none;

      &.active {
        display: inline-block;
        width: fit-content;
        font-weight: bold;
      }
    }
  }
}

.filter-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  padding: 6px 12px;

  .filter-item {
    position: relative;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 2px 20px;
    overflow: hidden;
    border: 1px solid $border;
    text-decoration: none;
    border-radius: 6px;
    font-size: 12px;

    &.selected {
      color: white;
      background-color: black;
    }
  }
}

// .details {
//   border: 1px solid $border;
//   padding: 8px;
//   margin: 8px;
//   border-radius: 4px;
// }
